
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-xl-12 col-md-12">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <h2>Welcome Back Admin</h2>
            </div>
        </div>
    </div>
</div>

-->

